<!DOCTYPE html>
<html lang="en">
<head>
  <title>memeback: <%= date.human %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../../style/modern-normalize/modern-normalize.min.css">
  <link rel="stylesheet" type="text/css" href="../../style/memeback.css">
</head>
<body>
  <header>
    <h1>memeback</h1>
    <div id="slogan"><%-
      await include("slogans.ejs", { current: date.current })
    %></div>
  </header>

  <nav>
    <div id="prev-day">[ <a href="../<%= date.prev %>">Previous day</a> ]</div>
    <div id="next-day">[ <a href="../<%= date.next %>">Next day</a> ]</div>
  </nav>

  <main>
  <time datetime="<%= date.current %>" class="date"><%= date.human %></time>
<%

let prevPostYear = -1;

for (const post of posts) {
  const postYear = post.date[0];
  if (postYear != prevPostYear) {
    if (prevPostYear > -1) {
%>
    </section>
<%

    } // if (prevPostYear > -1)

%>
    <section>
      <h2><%= postYear %></h2>
<%

  } // if (postYear != prevPostYear)

%>
      <article>
        <div class="content"><%- post.content %></div>
        <div class="metadata">to <a href="https://web.archive.org/web/20130101120000/http://memepool.com/Subject/<%= post.subject %>/"><%= post.subject %></a> by <a href="https://web.archive.org/web/20130101120000/http://memepool.com/Author/<%= post.author %>"><%= post.author %></a></div>
      </article>
<%

  prevPostYear = postYear;
} // for (const post of posts)

%>
    </section>
  </main>

  <footer>
    <div id="copyright">Copyright © 1998 - 2012 Memepool.Com. All Rights Reserved. For entertainment purposes only. All content is provided as is, with no warrantee stated or implied regarding the quality or accuracy of any content on or off the memepool.com website. All trademarks, servicemarks, and copyrights are property of their respective owners.</div>
    <div id="source">memeback</div>
  </footer>
</body>
</html>
