<!DOCTYPE html>
<html lang="en">
<head>
  <title>memeback: <%= date.human %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../../style/modern-normalize/modern-normalize.min.css">
  <link rel="stylesheet" type="text/css" href="../../style/memeback.css">
</head>
<body>
  <header>
    <h1>memeback</h1>
    <div id="slogan"><%-
      await include("slogans.ejs", { messageN })
    %></div>
  </header>

  <nav>
    <div id="prev-day">[ <a href="../<%= date.prev %>">Previous day</a> ]</div>
    <time class="date" datetime="<%= date.current %>"><%= date.human %></time>
    <div id="next-day">[ <a href="../<%= date.next %>">Next day</a> ]</div>
  </nav>

  <main>
<%

let prevPostYear = -1;

for (const post of posts) {
  const postYear = post.date[0];
  if (postYear != prevPostYear) {
    if (prevPostYear > -1) {
%>
    </section>
<%

    } // if (prevPostYear > -1)

%>
    <section>
      <h2><%= postYear %></h2>
<%

  } // if (postYear != prevPostYear)

%>
      <article>
        <div class="content"><%- post.content %></div>
        <div class="metadata">to <a href="https://web.archive.org/web/20130101120000/http://memepool.com/Subject/<%= post.subject %>/"><%= post.subject %></a> by <a href="https://web.archive.org/web/20130101120000/http://memepool.com/Author/<%= post.author %>"><%= post.author %></a></div>
      </article>
<%

  prevPostYear = postYear;
} // for (const post of posts)

const madeBy = [
  ["assembled", "by"],
  ["escaped from the lab", "of"],
  ["made", "by"],
  ["ripped, mixed, and burned", "by"],
];

const [madeByLink, madeByAfterLink] = madeBy[messageN % madeBy.length];

%>
    </section>
  </main>

  <footer>
    <div id="copyright">copyright © 1998 - 2013 memepool.com - all rights reserved. for entertainment purposes only. all content is provided as is, with no warranty stated or implied regarding the quality or accuracy of any content on or off the memepool.com website. all trademarks, servicemarks, and copyrights are property of their respective owners.</div>
    <div id="source">memeback <a href="https://github.com/memeback/memeback.github.io"><%= madeByLink %></a> <%= madeByAfterLink %> D.&nbsp;Bohdan.</div>
  </footer>

  <script data-goatcounter="https://memeback.goatcounter.com/count"
          async src="//gc.zgo.at/count.js">
  </script>
</body>
</html>
